<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686045937895-0cb1v25ljnvq4jm7fdropmrl437avl0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686045937895-0cb1v25ljnvq4jm7fdropmrl437avl0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDx6d7_xe8uYjcKxYdeBq03OVQq8NRlH7c</string>
	<key>GCM_SENDER_ID</key>
	<string>686045937895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mosaber7.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-96a86</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-96a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686045937895:ios:494135e25a50a005a6e242</string>
</dict>
</plist>